alabaster==0.7.13
Babel==2.15.0
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
docutils==0.20.1
docutils-ast-writer==0.1.2
future==1.0.0
idna==3.7
imagesize==1.4.1
javalang==0.13.0
javasphinx==0.9.15
Jinja2==3.0.3
lxml==5.2.2
MarkupSafe==2.1.5
Pygments==2.18.0
pytz==2024.1
requests==2.32.3
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==1.6.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
urllib3==2.2.2
